<div class='instance_list'>
    <% edit = @editing_aus %>
    <% for collection in @collections %>
    <% aus = collection.archival_units_filter_by_states(@states) %>
    <p>
        <b><%= link_to(collection.title, collection) %></b>
        <% if aus.length > 0 then %>
        <div class=indent>
            <% @archival_units = collection.archival_units_filter_by_states(@states) %>
            <%=  render :partial => "/archival_units/instance_list" %>
         </div>
        <% else %>
        &nbsp; &nbsp; No  aus in given states <% end %>
    </p>
    <% end %>
</div>
