
<%= instance_table_start(%w(Name Value)) %>

<% for g in @globals %>
  <tr>
    <td><%= link_to(g.name, :action => :edit, :id => g.id) %></td>
    <td><%=h g.value %>  </td> 
  </tr>
<% end %>

<%= instance_table_stop() %>
