
<% if params[:action] == "mine" then %>
<script type="text/javascript">
            $(document).ready(function(){
			   $("table.instance_table > tbody  td:nth-child(5)").hide();
			   $("table.instance_table > thead  th:nth-child(5)").hide()			   
            })
</script> 
<% end %>

<% 
if params[:action] == 'mine' then 
	title = 'My Plugins'
else 
	title = 'All Plugins'
end
path = "/plugins/#{params['action']}";
%> 

<h1> 
<%= title + '<br/>' + 
             content_tag( 'font', 
                  links_to_retired_state_listers(path), 
                  :size => "-1" )
%> 
</h1>
<%= render :partial => "/shared/spacer_line_small" %>

<%= render :partial => "/plugins/instance_list" %>

