<%= render :partial => "/content_providers/show_basic" %>

<%= left_right_title(
links_to_au_state_listers(),
link_to('List Collections', content_providers_show_path(@content_provider))  + " <br/>" +
link_to('List Plugins', content_providers_plugins_path(@content_provider))) %>


<div class='indent'>
    <%= render :partial => "/archival_units/instance_list" %>
</div>

