<h1> Content Provider </h1>
<h2><%= content_provider_image_tag(@content_provider) %> <%= @content_provider.name %></h2>

<div class="indent">
<table class="show_record_table">
    <tr>
        <td>
            Acronym: 
        </td>
        <td>
            <%= @content_provider.acronym %>
        </td>
    </tr>
    <tr>
        <td>
            Plugin Prefix: 
        </td>
        <td>
            <%= @content_provider.plugin_prefix %>
        </td>
    </tr>
</table>
</div>
