body { 
   background: #C6C6C6; 
   color: black;  
}

.container  {
   background: red;
}

.pageheader  {
    height: 101px;    /* logo height + 2 * padding of elem (8px by default); */
	background: #f4d228;
    color: #0b3866; 
}

.pagesubheader {
    background: #d7d7d7;
    color: black; 
}

.pagemenu  {
   background: #e6e6e6;
}

.pagenomenu,
.pagemain {
   background: #f6f6f5;
}

* a:link {color: #0b3866;}
* a:visited {color:#0b3866;}
* a:active {color: #0b3866;}

.notice { 
   color:  #0b3866;
}

