# date 2011-11-22
# /home/metaarchive/tools/lockssview/conspectuslib/genrc.py --root=/home/metaarchive/tools/data/conspectus_status --url=http://conspectus.metaarchive.org --state=preserved --provider=all
#
# content provider:    id=1 (bc) Boston College
# collection:          id=127 Boston College electronic theses and dissertations
# archival unit state: preserved
# 

[Status]
# list of individuak archival units 
auidlist = doc|plugins|allContent&base_url~http%3A%2F%2Fmetaarchive%2Eorg%2Fpublic%2Fdoc%2FtestSites%2F%2FsortedByVolume



