[Status]
## all future production  servers 
# fsl-erack  not yet online 
serverlist= 
    aub-fe:8081
    metaarchive.auctr.edu:8081
    aub-fe
    aub-fe
    bc-fe 
    cbuc 
    clem-fe 
    fsu-fe 
    gt-fe 
    hbcu-erack 
    hull-erack 
    is-fe 
    lou-fe 
    osu-erack 
    psu-erack 
    rice-fe 
    sc-fe 
    unt 
    vt-fe 
    
## all servers 
all_serverlist= 
    aub-fe 
    aub-test 
    bc 
    bc-fe 
    cbuc 
    clem-fe 
    fsl-erack 
    fsu-cap 
    fsu-fe 
    gt-fe 
    gt-test 
    hbcu-erack 
    hull 
    hull-erack 
    is-fe 
    lou-cap 
    lou-fe 
    osu-erack 
    psu-erack 
    rice-cap 
    rice-fe 
    sc-fe 
    unt 
    vt-cap 
    vt-fe 
    vt-test 
