<%= render :partial => "/content_providers/show_basic" %>

<%= left_right_title(
             "Collections by this Content Provider" + "<br/>" + 
             content_tag( 'font', 
                  links_to_retired_state_listers("/content_providers/#{@content_provider.id}/#{params['action']}"), 
                  :size => "-1" ), 
             link_to('List Archival Units', content_providers_archival_units_path(@content_provider))  + " <br/>" +
             link_to('List Plugins', content_providers_plugins_path(@content_provider)))
%>

    <div class='indent'>
        <%= render :partial => "/collections/instance_list" %>
    </div>

