<%= render :partial => "/content_providers/show_basic" %>

<h2> Preservation Status of content by this Content provider</h2>

<div class='indent'>
    <%= render :partial => "/status_items/instance_list" %>
</div>
