  <div class="dialog">
    <h1>The page you were looking for doesn't exist.</h1>
    <p> You may have mistyped the address. </p> 
	<p> Please report the error to <%= Global.get("support") %>if you reached this page by clicking on a link in the conspectus. </p>
    <p> <a href="javascript: history.go(-1)">Return</a></p>

  </div>
