  <div class="dialog">
    <h1> Please Login </h1>
	<p> The conspectus requires users to login to access certain information. 
	    Some operations require the right to edit content. </p> 
	<p>  You may login or view your account <a href="/login_or_profile"> HERE </a></p> 
	
  </div>
