body {
	background-color: #ffffff;
}

td.fieldname {
	background-color: #ffdddd;
	width: 20%;
	text-align: right;
}

td.fielddata {
	background-color: #ddffdd;
	width: 50%;
	text-align: left;
}

td.fielddescription {
	background-color: #ddddff;
	width: 30%;
	text-align: left;
}

div.summary {
	background-color: #ddffff;
}

div.section_header {
	background-color: #ffddff;
}

span.section_title {
	font-size: 20px;
}

span.required {
	font-size: 12px;
	color: #ff0000;
}

div.radio_summary {
	font-size: 12px;
	margin-left: 20px;
	margin-right: 20px;
}

a.plus {
	text-decoration: none;
	font-size: 20px;
	font-family: Courier, "Courier New", monospace;
}

